{% extends "base.html" %}
{% load static %}

{% block content %}


    <section class="categories spad">
      <div class="container">
          <div class="sidebar__subscribe__item">
            <div class="sidebar__item__title">
                <h6>Naujienlaiškiai</h6>
            </div>
            <p>Atsisakykite mūsų naujienlaiškių prenumeratos. Šis veiksmas neleis jums gauti naujausių naujienų.</p>
            {% if messages %}
              {% for message in messages %}
                <div {% if message.tags %}  class="{{ message.tags}}" {% endif %} role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% else %}
              <form method="POST" action="#">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">NEBEPRENUMERUOTI</button>
              </form>
            {% endif %}
          </div>
      </div>
    </section>

{% endblock %}